<!DOCTYPE html>
<html lang="en">

<script src="../js/session/validateSession.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" href="../src/img/loaf.svg">
    <title>OREVE | Mis Asistencias</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">OREVE <i class="fas fa-leaf"></i></a>

        <div class="collapse sticky-top navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <span class="nav-link">Organizador de Eventos Ecológicos</span>
                </li>
            </ul>
        </div>
        <span id="user" class="text-light nav-link"></span>
    </nav>

    <div class="row d-flex" >
        <div class="col-2 bg-light" >
            <ul class="nav flex-column pt-3" style="height: 100%;">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="./home.html"><span class="fas fa-home"></span> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="./eventos.html"><span class="fas fa-calendar-day"></span> Mis Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"><span class="fas fa-calendar-check"></span> Mis Asistencias <span id="not_count_nav" class="badge bg-danger text-light"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="./usuario.html"><span class="fas fa-user"></span> Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" onclick="logout()"><span class="fas fa-sign-out-alt"></span> Cerrar
                        Sesión</span></a>
                </li>
            </ul>
        </div>

        <div class="col-10">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="row mt-3">
                            <div class="col-12">
                                <h1>Mis Asistencias <span class="fas fa-leaf"></span></h1>
                            </div>
                        </div>
                        <hr class="mt-2">
                        <div id="misAsistencias">
                            
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="row mt-3">
                            <div class="col-12">
                                <h1>Notificaciones <small><span id="not_count" class="badge bg-danger text-light mt-0"></span></small></h1>
                            </div>
                        </div>
                        <hr class="mt-2">
                        <div id="notify">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Info-->
  <div class="modal fade" id="info" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-3">
        <h2>Información del Evento <span class="fas fa-leaf"></span></h2>
        <div class="row mt-3 mb-3">
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-6">
                <label><strong>Fecha de Inicio</strong> <br><span id="event_date_start">*</span></label>
              </div>
              <div class="col-6">
                <label><strong>Fecha de Finalización</strong> <br><span id="event_date_end">*</span></label>
              </div>
              <div class="col-6">
                <label><strong>Hora de Inicio</strong> <br><span id="event_hr_start">*</span></label>
              </div>
              <div class="col-6">
                <label><strong>Hora de Finalización</strong> <br><span id="event_hr_end">*</span></label>
              </div>
              <div class="col-6">
                <label><strong>Estado</strong> <br><span id="event_state">*</span></label>
              </div>
              <div class="col-12 mt-4">
                <form action="javascript:void(0);" onsubmit="removeAsistance();">
                    <input type="hidden" id="asis_id" name="asis_id">
                    <div class="form-group">
                        <label><strong>¿Deseas cancelar tu participación en este evento?</strong></label><br>
                        <button type="submit" class="btn btn-success"><span class="fas fa-check"></span> Sí</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <label><strong>Ubicación del evento</strong></label>
            <div class="mt-2 col text-center"><div class="gmap_canvas">
              <iframe width="368" height="300" id="gmap_canvas" 
              src="https://maps.google.com/maps?q=Utez&t=&z=13&ie=UTF8&iwloc=&output=embed" 
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              <a href="https://123movies-org.net"></a><br>
              <style>.gmap_canvas {overflow:hidden;background: none !important;height:auto;width:auto;}</style>
            </div></div>
          </div>
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../js/session/getSession.js"></script>
    <script src="../js/functions/urls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="../js/functions/notificactions.js"></script>
    <script src="../js/functions/asistances.js"></script>
    <script src="../js/controllers/asistenciaController.js"></script>
        
</body>

</html>